/* Estilize conforme necessário */
.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

input, button {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
